@font-face {
  src: url(../NotoSerifSC-Medium.otf);
  font-family: "Noto Serif SC Medium";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  src: url(../FSung-2.ttf);
  font-family: "FSung-2";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  src: url(../FSung-F.ttf);
  font-family: "FSung-F";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

/*
	Dreamweaver 流變格線屬性
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	靈感來自於 Ethan Marcotte 的「具回應功能的網頁設計」 
	http://www.alistapart.com/articles/responsive-web-design
	
	以及 Joni Korpi 的「黃金格線系統」
	http://goldengridsystem.com/
*/
/* 行動版面: 480px 以下。 */
.gridContainer {
  margin-left: auto;
  margin-right: auto;
  width: 87.36%;
  padding-left: 1.82%;
  padding-right: 1.82%;
}
#Main {
  clear: both;
  float: left;
  margin-left: 0;
  width: 100%;
  display: block;
}
.main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  /*padding: 2em 5% ;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  box-shadow: 0 0 15px rgba(0,0,0, .4);
  bottom: 0;
  float: left;
  width: 100%;
  margin:15px 0;   
  background:#fdfdfd;*/
}
/* 表格版面: 481px 到 768px。樣式繼承自: 行動版面。 */
/* 桌面版面: 769px 到最大 1232px。樣式繼承自: 行動版面和表格版面。 */
@media only screen and (min-width: 769px) {
  .gridContainer {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #Main {
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
  }
  .main {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    /*padding: 1.5em 3.5% 2.5em 3.5%;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    box-shadow: 0 0 15px rgba(0,0,0, .4);
    bottom: 0;
    float: left;
    width: 80%;
    margin:15px 10%;   
    background:#fdfdfd;*/
  }
}
